@import url('@/assets/css/partials.css');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700;800;900&display=swap');
h1,
h2,
h3,
h4,
h5,
h6,
button,
button span {
    font-family: 'Barlow Condensed', sans-serif;
}

.app--nav {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
}

.mobile--nav {
    display: none;
    padding: 3rem 0;
}

.line {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #fff;
}

.app--nav .logo img {
    width: 8rem;
}

.app--header {
    position: absolute;
    z-index: 9999;
    width: 100%;
}

.app--nav li a {
    font-size: 1rem;
    color: #fff;
}

.carousel-inner img {
    height: 800px;
    object-fit: cover;
    object-position: top;
}

.hero--carousel {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    z-index: 10;
}

.about--us {
    display: grid;
    grid-template-columns: auto 50%;
    gap: 30px;
    align-items: center;
}

.about--us .right {
    background-image: url('../img/about-bg.jpg');
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.what--we_do {
    background-color: var(--gray-300);
}

.what-we-do_options {
    display: grid;
    grid-template-columns: auto 50%;
    gap: 30px;
}

.what-we-do_options .left {
    background-image: url("../img/11.jpg");
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.what-we-do_options .right {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* gap: 30px; */
}

.what-we-do-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 2.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 242px;
    overflow-y: auto;
}

.book--now {
    background-color: var(--accent-color-dark);
    height: 350px;
    background-image: url('../img/form-bg.png');
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}